.buy{
    border-bottom: 2px solid gray;
    background-color: white;
    padding-top: 10px;
}
.buy>div.col-md-1>a{
    display: block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid black;
    width: 100px;
    margin-top: 15px;
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: "ClearSansThin";
    position: relative;
    right: 20px;
    padding-bottom: 2px;
}
.buy>div.col-md-2{
    font-size: 22px;
    font-family: "ClearSansThin";
    padding-top: 15px;
    padding-left: 30px;
}
.block1{
    text-align: center;
}
.vapes>div{
    text-align: center;
}
.vapes>div>img{
    height: 500px;
    margin: 20px 0;
    position: relative;
    z-index: -10;
    text-align: center;
}

.sticky-content.fixed{
    position: fixed;
    top: 0;
    z-index: 100500;
    left: 0;
    right: 0;
    background-color: white;
}
.block1>p{
    padding: 0 100px;
    text-align: center;
    font-family: "ClearSansThin";
    font-size: 120%;
}
.block2{
    margin-top: 30px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
.block2>div>div>h3{
    margin-top: 120px;
}
.block2>div>div:last-child{
    text-align: center;
}
.block2>div>div>img{
    height: 500px;
    margin-bottom: 30px;
}
.block3{
    margin-top: 30px;
    text-align: center;
}
.block3>div>img{
    height: 300px;
}
.block3>div>h3{
    margin-top: 40px;
}
.block4{
    background-color: #f7f7f7;
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
}
.block4>div>div>h3{
    margin-top: 80px;
}
.block4>div>div>img{
    height: 450px;
}
.block5{
    text-align: center;
}
@media only screen and (min-width: 992px) and (max-width: 1200px){

}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .buy>div.col-sm-8>h3{
        padding-top: 5px;
        font-size: 100%;
    }
    .buy>div.col-sm-1>a{
        display: block;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border: 1px solid black;
        width: 95px;
        margin-top: 15px;
        text-align: center;
        color: black;
        font-size: 18px;
        font-family: "ClearSansThin";
        position: relative;
        right: 20px;
        padding-bottom: 2px;
        margin: 0;
        margin-left: -15px;
        margin-bottom: 5px;
    }
    .buy>div.col-sm-3{
        font-size: 20px;
        font-family: "ClearSansThin";
        padding-top: 15px;
        padding-left: 30px;
        margin-top: -15px;
    }
    .vapes>div>img{
        height: 400px !important;
    }
    .block2{
       margin-top: -50px;
    }
    .block2>div>div{
        display: inline-block !important;
        width: 49%;
    }
    .block>div>div>h3{
        margin: 0px;
    }
    .block2>div>div:first-child{
        position: relative;
        top: 60px;
    }
    .block4{
        text-align: center;
    }
    .block4>div>div>h3{
        margin-top: 40px;
    }
    .block4>div>div{
        text-align: center;
    }
    .block4>div>div>img{
        margin-top: 20px;
        width: 500px !important;
        display: block;
        margin: 20px auto 0 auto;
    }
    .block5>img{
        width: 700px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 991px){
    /* фиксированая линия */
    .sticky-content.fixed{
        position: fixed;
        top: 0;
        z-index: 100500;
        left: 15px;
        background-color: white;
    }
    .buy>div.col-xs-12>h3{
        font-size: 18px;
        margin-top: 0px;

    }
    .buy_button>p{
        display: block;
        padding-left: 5px;
        font-size: 18px;
        font-family: "DejaVuSans";        
    }
    .buy_button>a{
        height: 25px;
        display: block;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        border: 1px solid black;
        width: 80px;
        margin-top: -35px;
        text-align: center;
        color: black;
        font-size: 16px;
        font-family: "ClearSansThin";
        position: absolute;
        right: 10px;
        padding-bottom: 5px;
    }
    .block1>h1{
        font-size: 22px;
    }
    .block1>p{
        padding: 0 2px;
        font-size: 20px;
    }
    .vapes>div{
        display: inline-block !important;
        width: 24%;
        text-align: center;
    }
    .vapes>div>img{
        height: 200px;
    }
    .block2{
        margin-top: -60px;
    }
    .block2>div>div>img{
        margin-top: 30px;
    }
    .block4>div>div>h3{
        margin-top: 30px;
    }
    .block4>div>div:last-child{
        text-align: center !important;
    }
    .block4>div>div>img:nth-child(2){
        width: 300px;
        display: block;
        height: auto;
        margin: 20px auto 0 auto;
    }
    .block4>div>div>img:last-child{
        width: 200px;
        display: block;
        height: auto;
        margin: 20px auto 0 auto;
    }
    .block5>div>img:nth-child(1),
    .block5>div>img:nth-child(3){
        width: 300px;
        /display: block;
        height: auto;
        margin: 20px 0;
    }
    .block5>div>img:nth-child(2){
        width: 100px;
        /display: block;
        height: auto;
        /margin: 20px auto 0 auto;
    }
    
}