.buy{
    border-bottom: 2px solid gray;
    background-color: white;
    padding-top: 10px;
}
.buy>div.col-md-1>a{
    display: block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid black;
    width: 100px;
    margin-top: 15px;
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: "ClearSansThin";
    position: relative;
    right: 20px;
    padding-bottom: 2px;
}
.buy>div.col-md-2{
    font-size: 22px;
    font-family: "ClearSansThin";
    padding-top: 15px;
    padding-left: 30px;
}
.block1{
    text-align: center;
}
.vapes>div{
    text-align: center;
    display: inline-block !important;
    width: 20%;
}
.vapes>div>img{
    height: 350px;
    margin: 20px 0;
    position: relative;
    z-index: -10;
    text-align: center;
}

.sticky-content.fixed{
    position: fixed;
    top: 0;
    z-index: 100500;
    left: 0;
    right: 0;
    background-color: white;
}
.block1>p{
    padding: 0 100px;
    text-align: center;
    font-family: "ClearSansThin";
    font-size: 120%;
}
.block2{
    margin-top: 50px;
    border-bottom: 2px solid gray;
    height: 500px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}
.block2>div>div>img{
    height: 400px;
}
.block2>div>div:first-child{
    padding: 100px 0 0 100px;
}
.block2>div>div:first-child>p{
    padding-left: 20px;
}
.block3{
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.block3>div.col-md-4 {
    margin-top: 80px;
}
.block3>div:first-child>p{
    padding-left: 10px;
}
.block4>div>div.col-md-9{
    text-align: right;
    background-color: white;
    padding-right: 10px;
    position: relative;
    z-index: 1;
}
.block4>div>div.col-md-3>img{
    position: relative;
    top: 30px;
    right: 50px;
    z-index: 0;
}
.block4>div>div.col-md-12{
    margin: 40px 0 20px 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 10px 0;
    text-align: center;
}
.block5{
    text-align: center;
}
.block5>div.col-md-6{
    text-align: left;
    position: absolute;
    margin-left: 380px;
    margin-top: 40px;
    padding-right: 80px;
}
@media only screen and (min-width: 992px) and (max-width: 1200px){

}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .buy>div.col-sm-8>h3{
        padding-top: 5px;
        font-size: 100%;
    }
    .buy>div.col-sm-1>a{
        display: block;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border: 1px solid black;
        width: 95px;
        margin-top: 15px;
        text-align: center;
        color: black;
        font-size: 18px;
        font-family: "ClearSansThin";
        position: relative;
        right: 20px;
        padding-bottom: 2px;
        margin: 0;
        margin-left: -15px;
        margin-bottom: 5px;
    }
    .buy>div.col-sm-3{
        font-size: 20px;
        font-family: "ClearSansThin";
        padding-top: 15px;
        padding-left: 30px;
        margin-top: -15px;
    }
    .sticky-content.fixed{
        position: fixed;
        top: 0;
        z-index: 100500;
        left: 15px;
        background-color: white;
    }
    .buy>div.col-xs-12>h3{
        font-size: 18px;
        margin-top: 0px;

    }
    .buy_button>p{
        display: block;
        padding-left: 5px;
        font-size: 18px;
        font-family: "DejaVuSans";        
    }
    .buy_button>a{
        height: 25px;
        display: block;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        border: 1px solid black;
        width: 80px;
        margin-top: -35px;
        text-align: center;
        color: black;
        font-size: 16px;
        font-family: "ClearSansThin";
        position: absolute;
        right: 10px;
        padding-bottom: 5px;
    }
    .block1>h1{
        font-size: 22px;
    }
    .block1>p{
        padding: 0 2px;
        font-size: 20px;
    }
    .vapes>div{
        display: inline-block !important;
        width: 19%;
    }
    .vapes>div>img{
        height: 250px;
    }
    .block2{
        height: 330px;
    }
    .block2>div>div>img{
        height: 300px;
    }
    .block2>div>div:first-child{
        position: absolute;
        margin-left: 400px;
        margin-top: 60px;
        padding: 0;
    }
    .block2>div>div:first-child>p{
        padding-left: 20px;
    }
    .block3{
        margin-top: -50px;
    }
    .block4>div>div.col-md-9{
        text-align: left;
    }
    .block4>div>div.col-md-12>img{
        width: 700px;
    }
    .block5>div.col-md-6{
        text-align: left;
        position: absolute;
        margin-left: 290px;
        margin-top: 40px;
        padding-right: 50px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px){
    /* фиксированая линия */
    .sticky-content.fixed{
        position: fixed;
        top: 0;
        z-index: 100500;
        left: 15px;
        background-color: white;
    }
    .buy>div.col-xs-12>h3{
        font-size: 18px;
        margin-top: 0px;

    }
    .buy_button>p{
        display: block;
        padding-left: 5px;
        font-size: 18px;
        font-family: "DejaVuSans";        
    }
    .buy_button>a{
        height: 25px;
        display: block;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        border: 1px solid black;
        width: 80px;
        margin-top: -35px;
        text-align: center;
        color: black;
        font-size: 16px;
        font-family: "ClearSansThin";
        position: absolute;
        right: 10px;
        padding-bottom: 5px;
    }
    .block1>h1{
        font-size: 22px;
    }
    .block1>p{
        padding: 0 2px;
        font-size: 20px;
    }
    .vapes>div{
        display: inline-block !important;
        width: 18%;
    }
    .vapes>div>img{
        width: 100%;
        height: auto;
    }

    .color{
        height: 20px;
        width: 20px;
    }
    .block2{
        height: auto;
        padding-bottom: 20px;
    }
    .block2>div>div>img{
        height: 300px;
    }
    .block2>div>div:first-child{
        margin-top: -40px;
        padding: 0;
    }
    .block2>div>div:last-child>img{
        width: 100%;
        height: auto;
        margin-top: 20px;
    }
    .block3{
        margin-top: -65px;
    }
    .block3>div.col-md-8>img{
        width: 100%;
        height: auto;
    }
    .block4>div>div.col-md-9{
        text-align: left;
    }
    .block4>div>div.col-md-12>img{
        width: 100%;
        height: auto;
    }
    .block5>div.visible-xs{
        text-align: center;
    }
    .block5>div.visible-xs>img:nth-child(1),
    .block5>div.visible-xs>img:nth-child(3){
        width: 250px;
        height: auto;
    }
    .block5>div.visible-xs>img:nth-child(2){
        width: 100px;
        height: auto;
        display: block;
        margin: 20px auto;
    }
}