.buy{
    border-bottom: 2px solid gray;
    background-color: white;
    padding-top: 10px;
}
.buy>div.col-md-1>a{
    display: block;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid black;
    width: 100px;
    margin-top: 15px;
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: "ClearSansThin";
    position: relative;
    right: 20px;
    padding-bottom: 2px;
}
.buy>div.col-md-2{
    font-size: 22px;
    font-family: "ClearSansThin";
    padding-top: 15px;
    padding-left: 30px;
}
.block1{
    text-align: center;
}
.vapes>div{
    text-align: center;
}
.vapes>div>img{
    height: 500px;
    margin: 20px 0;
    position: relative;
    z-index: -10;
    text-align: center;
}
.img1{
    animation: vapeslide1 2s 1 linear; 
}
.img2{
    animation: vapeslide2 2s 1 linear; 
}
.img3{
    animation: vapeslide3 2s 1 linear; 
}
.img4{
    animation: vapeslide4 2s 1 linear; 
}
.img5{
    animation: vapeslide5 2s 1 linear; 
}
@keyframes vapeslide1 {
    from {top: -100px;}
    50% {top: -50px;}
    to {top: 0px;}
}
@keyframes vapeslide2 {
    from {top: -150px;}
    50% {top: -75px;}
    to {top: 0px;}
}
@keyframes vapeslide3 {
    from {top: -200px;}
    50% {top: -100px;}
    to {top: 0px;}
}
@keyframes vapeslide4 {
    from {top: -250px;}
    50% {top: -125px;}
    to {top: 0px;}
}
@keyframes vapeslide5 {
    from {top: -300px;}
    50% {top: -150px;}
    to {top: 0px;}
}
.color{
    height: 50px;
    width: 50px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: ghostwhite;
    margin: 0 auto;
    margin-bottom: 15px;

}
.sticky-content.fixed{
    position: fixed;
    top: 0;
    z-index: 100500;
    left: 0;
    right: 0;
    background-color: white;
}
.block1>p{
    padding: 0 100px;
    text-align: center;
    font-family: "ClearSansThin";
    font-size: 120%;
}
@media only screen and (min-width: 992px) and (max-width: 1200px){

}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .buy>div.col-sm-8>h3{
        padding-top: 5px;
        font-size: 100%;
    }
    .buy>div.col-sm-1>a{
        display: block;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border: 1px solid black;
        width: 95px;
        margin-top: 15px;
        text-align: center;
        color: black;
        font-size: 18px;
        font-family: "ClearSansThin";
        position: relative;
        right: 20px;
        padding-bottom: 2px;
        margin: 0;
        margin-left: -15px;
        margin-bottom: 5px;
    }
    .buy>div.col-sm-3{
        font-size: 20px;
        font-family: "ClearSansThin";
        padding-top: 15px;
        padding-left: 30px;
        margin-top: -15px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 991px){
    /* фиксированая линия */
    .sticky-content.fixed{
        position: fixed;
        top: 0;
        z-index: 100500;
        left: 15px;
        background-color: white;
    }
    .buy>div.col-xs-12>h3{
        font-size: 18px;
        margin-top: 0px;

    }
    .buy_button>p{
        display: block;
        padding-left: 5px;
        font-size: 18px;
        font-family: "DejaVuSans";        
    }
    .buy_button>a{
        height: 25px;
        display: block;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        border: 1px solid black;
        width: 80px;
        margin-top: -35px;
        text-align: center;
        color: black;
        font-size: 16px;
        font-family: "ClearSansThin";
        position: absolute;
        right: 10px;
        padding-bottom: 5px;
    }
    .block1>h1{
        font-size: 22px;
    }
    .block1>p{
        padding: 0 2px;
        font-size: 20px;
    }
    .vapes>div{
        display: inline-block !important;
        width: 15%;
    }
    .vapes>div>img{
        height: 200px;
    }

    .color{
        height: 20px;
        width: 20px;
    }
}